In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\javed\instacart Basket Analysis'

In [4]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_added_cols.pkl'))

In [5]:
df = ords_prods_merged[:1000000]

In [6]:
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number' : ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [9]:
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merged.head(20)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,196,1,0,both,Soda,77,7,9.0,Mid Range Product,Regularly Busy,Average Orders,10
1,2398795,1,prior,2,3,7,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,10
2,473747,1,prior,3,3,12,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,10
3,2254736,1,prior,4,4,7,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,10
4,431534,1,prior,5,4,15,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,10
5,3367565,1,prior,6,2,7,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Regularly Busy,Average Orders,10
6,550135,1,prior,7,1,9,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Busiest Days,Most Orders,10
7,3108588,1,prior,8,1,14,196,2,1,both,Soda,77,7,9.0,Mid Range Product,Busiest Days,Average Orders,10
8,2295261,1,prior,9,1,16,196,4,1,both,Soda,77,7,9.0,Mid Range Product,Busiest Days,Average Orders,10
9,2550362,1,prior,10,4,8,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,10
10,2968173,15,prior,15,1,9,196,2,0,both,Soda,77,7,9.0,Mid Range Product,Busiest Days,Most Orders,22
11,1870022,15,prior,17,2,16,196,6,1,both,Soda,77,7,9.0,Mid Range Product,Regularly Busy,Average Orders,22
12,1911383,15,prior,18,2,11,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Regularly Busy,Most Orders,22
13,2715276,15,prior,21,1,9,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Busiest Days,Most Orders,22
14,487368,15,prior,22,1,10,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Busiest Days,Most Orders,22
15,2293453,19,prior,2,5,14,196,3,0,both,Soda,77,7,9.0,Mid Range Product,Regularly Busy,Average Orders,7
16,1973799,19,prior,5,6,12,196,15,1,both,Soda,77,7,9.0,Mid Range Product,Regularly Busy,Average Orders,7
17,532817,19,prior,7,4,17,196,1,1,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,7
18,1573906,21,prior,10,3,10,196,2,0,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Most Orders,33
19,1593000,31,prior,10,3,8,196,17,0,both,Soda,77,7,9.0,Mid Range Product,Least Busy Days,Average Orders,17